Repository Submitty/Submitty, pull requests merged in 2019-05, with the labels that each got.

#3614 Place forum modals on-top of whole page
  site/app/views/forum/ForumThreadView.php
Labels: discussion forum/grade inquiry

#3541 Fix: Right aligned text and re-formatted grading details table
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/server.css
Labels: design / discussion needed

#3700 Perform VCS checkout at submission time (not grading time)
  autograder/autograder/packer_unpacker.py
  bin/regrade.py
  sbin/submitty_autograding_shipper.py
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/GradingQueue.php
  site/tests/app/controllers/submission/SubmissionControllerTester.php
Labels: VCS

#3532 -- Notification settings moved to new page
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20190513144009_email_notification_settings.py
  site/app/controllers/NavigationController.php
  site/app/controllers/NotificationSettings.php
  site/app/libraries/database/PostgresqlDatabaseQueries.php
  site/app/models/User.php
  site/app/templates/NotificationSettings.twig
  site/app/templates/Notifications.twig
  site/app/templates/NotificationsSettings.twig
  site/tests/app/models/UserTester.php
Labels: Notifications

#3560 [Needs testing] Bulk upload split item submission refactor
  site/app/controllers/student/SubmissionController.php
  site/app/templates/submission/homework/BulkUploadBox.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/public/js/drag-and-drop.js
Labels: Bulk Upload / Scanned PDF Submission)

#3705 Updated account information in distro setup script
  .setup/distro_setup/setup_distro.sh
Labels: Server / Installation, documentation / submitty.org

#3544 Fixed Server Error on Download All with no grading
  site/app/controllers/MiscController.php
  site/app/templates/grading/electronic/Status.twig
Labels: TA Grading, bug

#3685 Markdown Descriptions for Textbox Submissions
  more_autograding_examples/paragraph_textboxes/config/config.json
  site/app/libraries/CustomParsedownEngine.php
  site/app/libraries/Output.php
  site/app/templates/submission/homework/SubmitBox.twig
  site/composer.json
  site/composer.lock
Labels: Submission

#3727 [Bugfix] installation & java_tools permissions
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/distro_setup/ubuntu/rpi.sh
  .setup/install_system.sh
Labels: Server / Installation, bug

#3691 [BUGFIX] Keyboard navigation through Electronic Grading Navigation Bar
  site/app/templates/grading/electronic/NavigationBar.twig
  site/public/css/server.css
Labels: VPAT / Accessibility / Screen reader

#3719 Add image alt text in config
  more_autograding_examples/paragraph_textboxes/config/config.json
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
Labels: VPAT / Accessibility / Screen reader

#3655 [FEATURE]Chronologically Descending Sorting option
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/ForumBar.twig
Labels: Discussion Forum, enhancement / feature request

#3722 Made file submission box VPAT compliant
  site/app/templates/submission/homework/SubmitBox.twig
  site/public/css/server.css
  site/public/js/drag-and-drop.js
Labels: VPAT / Accessibility / Screen reader

#3703 [Feature] TA/Instructor can lock Thread
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20190325035957_adding_lock_thread_date.py
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/EditPostForm.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/views/forum/ForumThreadView.php
  site/public/js/server.js
Labels: Discussion Forum

#3652 [Bugfix] Fixed overflowing category names
  site/app/controllers/forum/ForumController.php
  site/app/templates/forum/CategoriesForm.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/public/css/bootstrap.css
  site/public/css/server.css
Labels: Discussion Forum, bug

#3736 Refactor Normal Bulkuploads to use Submitty Job Queue
  .setup/INSTALL_SUBMITTY_HELPER_BIN.sh
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_qr_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_upload_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/MiscController.php
  site/app/controllers/student/SubmissionController.php
  site/app/templates/submission/homework/BulkUploadProgressBox.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/cgi-bin/pdf_check.cgi
  site/public/js/server.js
Labels: Bulk Upload / Scanned PDF Submission)

#3739 Highlight page counts that are different than the expected amount
  Vagrantfile
  site/app/templates/submission/homework/BulkUploadBox.twig
  site/app/templates/submission/homework/SubmitBox.twig
Labels: Bulk Upload / Scanned PDF Submission), Instructor UI
