Repository Submitty/Submitty, pull requests merged in 2019-06, with the labels that each got.

#3789 Assign split items on enter (for non-team bulk uploads)
  site/app/templates/submission/homework/BulkUploadBox.twig
Labels: Bulk Upload / Scanned PDF Submission)

#3738 Add the api_key column to users table
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20190526013255_add_api_key.py
Labels: API, Database

#3741 Replace deprecated methods in TokenManager
  site/app/libraries/TokenManager.php
Labels: dependencies

#3634 Grade Inquiry Notifications
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20190422115647_grade_inquiry_notifications.py
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Notification.php
Labels: Notifications, grade inquiry (prev. regrade request)

#3743 [Feature] Symfony Routing
  sbin/authentication.py
  site/app/controllers/AuthenticationController.php
  site/app/controllers/GlobalController.php
  site/app/controllers/HomePageController.php
  site/app/controllers/NavigationController.php
  site/app/controllers/api/AbstractApiController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/Core.php
  site/app/libraries/routers/AnnotatedRouteLoader.php
  site/app/libraries/routers/ApiRouter.php
  site/app/libraries/routers/ClassicRouter.php
  site/app/libraries/routers/WebRouter.php
  site/app/templates/Authentication.twig
  site/app/templates/ChangePasswordForm.twig
  site/app/templates/EditNameForm.twig
  site/app/templates/HomePage.twig
  site/app/templates/forum/FilterForm.twig
  site/app/views/AuthenticationView.php
  site/app/views/NavigationView.php
  site/app/views/forum/ForumThreadView.php
  site/composer.json
  site/composer.lock
  site/public/index.php
  site/tests/BaseUnitTest.php
  site/tests/app/libraries/routers/ClassicRouterTester.php
  site/tests/app/libraries/routers/WebRouterTester.php
  tests/e2e/test_access.py
  tests/e2e/test_login.py
Labels: API

#3824 Fixed scroll distance for PDFs in edit
  site/public/js/ta-grading-rubric.js
Labels: TA Grading

#3825 Fixed initial PDF scroll in TA grade edit
  site/public/js/pdf/PDFAnnotateEmbedded.js
Labels: TA Grading

#3805 Reorganized TA grading for better VPAT and UX
  site/app/templates/grading/simple/Display.twig
  site/app/templates/grading/simple/StudentSearch.twig
  site/app/views/grading/SimpleGraderView.php
  site/public/css/simple-grading.css
  site/public/js/simple-grading.js
  site/public/js/ta-grading-keymap.js
  tests/e2e/test_simple_grader.py
Labels: TA Grading, VPAT / Accessibility / Screen reader

#3783 Add Logging for Bulk Uploads
  .setup/INSTALL_SUBMITTY_HELPER.sh
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_qr_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_upload_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  sbin/submitty_daemon_jobs/submitty_jobs/write_to_log.py
Labels: Bulk Upload / Scanned PDF Submission)
