Repository Submitty/Submitty, pull requests merged in 2021-05, with the labels that each got.

#6382 [Bugfix:Submission] Incorrect due time shown in tooltip
  site/app/models/CalendarInfo.php
  site/app/templates/calendar/Calendar.twig
  site/public/js/calendar.js
Labels: bug, calendar

#6422 [Testing:Developer] Parallelize integration test suite
  .setup/testing/setup_test_suite.sh
  tests/integrationTests/lib.py
Labels: Testing / Continuous Integration (CI), refactor / coding style

#6389 [Bugfix:Submission] Show actual submission status on calendar
  site/app/controllers/calendar/CalendarController.php
  site/app/models/CalendarInfo.php
  site/app/models/gradeable/GradeableList.php
  site/app/models/gradeable/GradeableUtils.php
  site/app/views/NavigationView.php
  site/public/css/calendar.css
  site/public/js/calendar.js
Labels: calendar
