Repository Submitty/Submitty, pull requests merged in 2024-06, with the labels that each got.

#10204 [Bugfix:Forum] Find search terms within punctuation
  site/app/libraries/database/DatabaseQueries.php
Labels: Discussion Forum

#10447 [Bugfix:Forum] Remove OP for anonymous author
  site/app/controllers/forum/ForumController.php
  site/app/views/forum/ForumThreadView.php
Labels: Discussion Forum

#9861 [Bugfix:TAGrading] Reduce generations of late day cache
  site/app/views/grading/ElectronicGraderView.php
Labels: Abandoned PR - Needs New Owner

#9975 [Feature:InstructorUI] Web GUI for remove lowest
  site/app/controllers/admin/ReportController.php
  site/app/models/RainbowCustomization.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades

#10210 [Bugfix:InstructorUI] Fix empty teams being invisible
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/Details.twig
Labels: Instructor UI

#10515 [Testing:RainbowGrades] Rainbow customization accessibility
  site/app/templates/admin/RainbowCustomization.twig
  site/cypress/e2e/Cypress-System/accessibility.spec.js
  site/cypress/fixtures/accessibility_baseline.json
Labels: Testing / Continuous Integration (CI), Rainbow Grades, Instructor UI, HTML5 / VPAT / Accessibility / Screen reader

#10524 [VPAT:InstructorUI] Improve SQL toolbox accessibility
  site/app/templates/admin/SqlToolbox.twig
Labels: Instructor UI, HTML5 / VPAT / Accessibility / Screen reader

#10525 [VPAT:InstructorUI] Improve instructor polls accessibility
  site/app/templates/polls/AllPollsPageInstructor.twig
Labels: Instructor UI, HTML5 / VPAT / Accessibility / Screen reader

#10539 [UI/UX:RainbowGrades] Remove collapsibles from web config
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades, Instructor UI

#10549 [Bugfix:Forum] Fix toggle active on preview
  site/public/js/server.js
Labels: bug, Discussion Forum

#10249 [Feature:Calendar] Month and year dropdown menu
  site/app/templates/calendar/Calendar.twig
  site/app/views/calendar/CalendarView.php
  site/public/css/calendar.css
  site/public/js/calendar.js
Labels: calendar

#10159 [Feature:Forum] Adding 'Liked by Instructor' Upducks
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/CreatePost.twig
  site/app/views/forum/ForumThreadView.php
  site/public/css/colors.css
  site/public/css/forum.css
  site/public/img/on-duck-button-ta-teacher.svg
  site/public/js/forum.js
Labels: Discussion Forum

#10557 [Bugfix:TAGrading] define self_grading
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
Labels: bug, Peer Grading

#10048 [Bugfix:InstructorUI] Upload Validation Error
  site/app/controllers/student/SubmissionController.php
  site/cgi-bin/pdf_page_check.cgi
  site/public/js/drag-and-drop.js
Labels: Submission / Team Submission, Instructor UI

#10538 [DevDependency] Update ESLint to 8.57.0 & use flat config format
  site/.eslintrc.json
  site/cypress/.eslintrc.json
  site/eslint.config.js
  site/package-lock.json
  site/package.json
Labels: static program analysis

#10535 [Testing:Autograding] Add missing examples to development.yml
  .setup/data/courses/development.yml
Labels: Sample Data

#10518 [Feature:RainbowGrades] Final grade GUI configuration
  site/app/controllers/admin/ReportController.php
  site/app/models/RainbowCustomization.php
  site/app/models/RainbowCustomizationJSON.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades, Instructor UI

#10595 [UI/UX:RainbowGrades] Align customization fields
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
Labels: Rainbow Grades, Instructor UI

#10360 [Refactor:Autograding] Remove system program check for docker
  grading/allowed_autograding_commands_default.json
  grading/execute.cpp
Labels: Abandoned PR - Needs New Owner

#10079 [Feature:InstructorUI] Download Button for Rainbow Grades
  site/app/controllers/admin/ReportController.php
  site/app/templates/submission/RainbowGrades.twig
  site/app/views/admin/ReportView.php
  site/public/css/rainbow-grades.css
Labels: Rainbow Grades, Instructor UI

#10337 [Feature:SubminiPolls] Frontend poll timer
  site/app/templates/polls/ViewPoll.twig
  site/app/views/PollView.php
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/public/css/polls.css
  site/public/js/polls.js
Labels: Lecture Poll / Submini

#10613 [Bugfix:InstructorUI] Fix New/Edit Gradeable Header
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
Labels: bug, Instructor UI

#10593 [UI/UX:RainbowGrades] Expand Customization dropdowns
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades, Instructor UI

#10604 [UI/UX:TAGrading] Disable notebook fields when grading
  site/app/templates/notebook/Notebook.twig
Labels: TA Grading / TA UI, Notebook / Notebook Builder

#10603 [UI/UX:TAGrading] Hide notebook control buttons
  site/app/templates/notebook/Notebook.twig
Labels: Notebook / Notebook Builder

#10554 [DevDependency] Fix ESLint ignoring files it should not have
  site/.build.js
  site/cypress.config.ts
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
  site/cypress/plugins/index.js
  site/cypress/support/e2e.js
  site/eslint.config.js
  site/package.json
  site/public/js/notebook_builder/widgets/widget.js
  site/tests/api/auth.spec.ts
  site/tests/api/utils.ts
  site/ts/auth-tokens.ts
  site/ts/grader-submission.ts
Labels: refactor / coding style, static program analysis
