Repository Submitty/Submitty, pull requests merged in 2024-07, with the labels that each got.

#10626 [Refactor:SubminiPolls] Remove status from database poll table
  .setup/bin/sample_courses/models/course/course_data.py
  .setup/data/polls/polls_data.json
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240626171518_remove_poll_status.py
  site/app/entities/poll/Poll.php
  site/phpstan-baseline.neon
Labels: Database / SQL Toolbox, refactor / coding style, Lecture Poll / Submini

#10624 [Bugfix:Forum] Auto-resizing for all reply_box
  site/public/js/markdown.js
Labels: Discussion Forum

#10652 [Bugfix:RainbowGrades] Fix final cutoff customization
  site/public/js/rainbow-customization.js
Labels: bug, Rainbow Grades, Instructor UI

#10670 [Bugfix:Developer] Fix ESLint ignores
  site/eslint.config.js
Labels: bug, Testing / Continuous Integration (CI), static program analysis

#10555 [UI/UX:HelpQueue] Swap Alert Noise to Duck Quack
  .setup/install_submitty/install_site.sh
  LICENSE-THIRD-PARTY.md
  site/app/controllers/GlobalController.php
  site/app/libraries/Output.php
  site/app/templates/GlobalHeader.twig
  site/app/views/GlobalView.php
  site/app/views/OfficeHoursQueueView.php
  site/public/audio/quack-alert.mp3
  site/public/js/notification-sound.js
Labels: Office Hours/Lab Queue

#10644 [Feature:RainbowGrades] Remove benchmark_percent from display
  site/app/models/RainbowCustomizationJSON.php
Labels: Rainbow Grades

#10564 [UI/UX:HelpQueue] Notifications buttons to switches
  site/app/templates/officeHoursQueue/QueueButtonBar.twig
  site/app/templates/officeHoursQueue/QueueFooter.twig
  site/cypress.config.ts
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
  site/package-lock.json
  site/package.json
  site/public/css/officeHoursQueue.css
  site/public/css/server.css
Labels: TA Grading / TA UI, Instructor UI, Office Hours/Lab Queue

#10686 [Testing:TAGrading] Added Test for Grading Details UI
  site/app/templates/grading/electronic/Details.twig
  site/cypress/e2e/Cypress-TAGrading/ta_grading_details.spec.js
Labels: TA Grading / TA UI, Testing / Continuous Integration (CI)

#10689 [Refactor:TAGrading] Add test ids for elements used in tests
  site/app/templates/grading/electronic/GradingPanelHeader.twig
  site/cypress/e2e/Cypress-TAGrading/ta_grading_comments.spec.js
  site/cypress/e2e/Cypress-TAGrading/test_rubric_access.spec.js
  site/public/templates/grading/GradingComponentHeader.twig
  site/public/templates/grading/OverallComment.twig
  site/public/templates/grading/SavingTools.twig
  site/public/templates/misc/MarkdownArea.twig
Labels: TA Grading / TA UI, Testing / Continuous Integration (CI)

#10706 [UI/UX:InstructorUI] Rename Create and Edit Queue buttons
  site/app/templates/officeHoursQueue/NewQueue.twig
  site/app/templates/officeHoursQueue/QueueButtonBar.twig
  site/app/templates/officeHoursQueue/QueueFilter.twig
Labels: Instructor UI, Office Hours/Lab Queue

#10648 [Feature:Submission] Display Jupyter notebooks in browser
  site/app/controllers/MiscController.php
  site/app/libraries/NotebookUtils.php
  site/app/templates/notebook/Notebook.twig
  site/app/templates/submission/homework/CurrentVersionResults.twig
  site/public/css/server.css
Labels: Notebook / Notebook Builder

#10707 [UI/UX:RainbowGrades] Reorder RainbowCustomization items
  site/app/templates/admin/RainbowCustomization.twig
Labels: Rainbow Grades, Instructor UI

#10720 [Bugfix:Forum] Fix ForumController's incorrect argument
  site/app/controllers/forum/ForumController.php
Labels: bug, Discussion Forum, URGENT / PRIORITY

#10653 [Feature:RainbowGrades] Add manual_grade to display
  site/app/controllers/admin/ReportController.php
  site/app/models/RainbowCustomization.php
  site/app/models/RainbowCustomizationJSON.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades, Instructor UI

#9586 [Feature:InstructorUI] Overridden gradeable is fully graded
  site/app/libraries/database/DatabaseQueries.php
Labels: bug, TA Grading / TA UI

#10728 [Bugfix:RainbowGrades] Fix plagiarism table refactor
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Labels: bug, Rainbow Grades, Instructor UI

#10725 [Bugfix:Submission] TypeError NUM_MARKDOWN variable
  site/public/js/notebook_builder/widgets/widget.js
Labels: bug

#10197 [Feature:SubminiPolls] Custom answers for polls
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240208120646_custom_answers_polls.py
  site/app/controllers/PollController.php
  site/app/entities/poll/Option.php
  site/app/entities/poll/Poll.php
  site/app/libraries/PollUtils.php
  site/app/repositories/poll/OptionRepository.php
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
  site/app/views/PollView.php
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/public/css/polls.css
  site/public/js/polls.js
  site/tests/app/entities/poll/PollTester.php
  site/tests/app/libraries/PollUtilsTester.php
Labels: Lecture Poll / Submini

#10635 [Feature:TAGrading] Add a clear conflict button
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/RubricPanel.twig
  site/app/views/grading/ElectronicGraderView.php
  site/cypress/e2e/Cypress-TAGrading/clearing_version_conflicts.spec.js
  site/public/js/ta-grading-rubric.js
  site/public/templates/grading/Gradeable.twig
Labels: TA Grading / TA UI

#10744 [Bugfix:Autograding] URGENT fix for Autograding error
  autograder/autograder/packer_unpacker.py
Labels: Autograding, URGENT / PRIORITY

#10699 [UI/UX:TAGrading] Add "version conflict" language
  site/public/templates/grading/GradingComponentHeader.twig
Labels: TA Grading / TA UI

#10715 [Feature:System] Add support for Vue pages
  .gitignore
  .setup/install_submitty/install_site.sh
  site/.rsyncignore
  site/app/libraries/Output.php
  site/app/templates/Vue.twig
  site/eslint.config.js
  site/package.json
  site/vue/env.d.ts
  site/vue/src/main.ts
  site/vue/src/pages/Unknown.vue
  site/vue/tsconfig.app.json
  site/vue/tsconfig.json
  site/vue/tsconfig.node.json
  site/vue/vite.config.mts
Labels: Server / Installation / Vagrant

#10562 [DevDependency] Lint Cypress/Jest tests
  site/cypress/e2e/Cypress-Admin/auth_token.spec.js
  site/cypress/e2e/Cypress-Admin/courseMaterials.spec.js
  site/cypress/e2e/Cypress-Feature/forums.spec.js
  site/cypress/e2e/Cypress-Feature/grade_inquiries.spec.js
  site/cypress/e2e/Cypress-Feature/late_days_allowed.spec.js
  site/cypress/e2e/Cypress-Feature/late_days_cache.spec.js
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/cypress/e2e/Cypress-Gradeable/edit_gradeable.spec.js
  site/cypress/e2e/Cypress-Gradeable/gradeable_results.spec.js
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
  site/cypress/e2e/Cypress-Gradeable/peer_grading_component.spec.js
  site/cypress/e2e/Cypress-System/autograding_status_1.spec.js
  site/cypress/e2e/Cypress-System/autograding_status_2.spec.js
  site/cypress/e2e/Cypress-TAGrading/numeric_grading.spec.js
  site/cypress/e2e/Cypress-TAGrading/simple_grading.spec.js
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
  site/cypress/e2e/Cypress-UI/navigation_page.spec.js
  site/cypress/e2e/Cypress-UI/profile.spec.js
  site/cypress/support/commands.js
  site/eslint.config.js
  site/tests/ts/sql-toolbox.spec.js
Labels: refactor / coding style, static program analysis

#10754 [UI/UX:Submission] Add separators between notebook cells
  site/app/templates/notebook/Notebook.twig
  site/public/css/server.css
Labels: Notebook / Notebook Builder

#10751 [Feature:Submission] Render Jupyter output images
  site/app/libraries/NotebookUtils.php
  site/app/templates/notebook/Notebook.twig
Labels: Notebook / Notebook Builder

#10721 [Bugfix:Submission] Improve daylight savings warning banner
  site/app/templates/admin/Extensions.twig
  site/app/templates/admin/LateDays.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/app/templates/admin/users/MoreExtensions.twig
  site/app/templates/submission/homework/DaylightSavingsMessage.twig
  site/app/templates/submission/homework/LateDayMessage.twig
  site/app/views/submission/HomeworkView.php
  site/cypress/e2e/Cypress-Gradeable/gradeable_upload.spec.js
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Labels: late days / extensions
