Repository Submitty/Submitty, pull requests merged in 2024-08, with the labels that each got.

#10819 [Bugfix:Developer] Fix php lint errors on main
  site/app/controllers/GlobalController.php
Labels: URGENT / PRIORITY

#10818 [Bugfix:Developer] Regenerate package-lock.json with Vue
  site/package-lock.json
Labels: URGENT / PRIORITY

#10765 [Bugfix:RainbowGrades] add ClampGradeablesInBucket
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Labels: bug, Rainbow Grades, Instructor UI

#10726 [Testing:RainbowGrades] Rainbow customization cypress tests
  site/app/templates/admin/RainbowCustomization.twig
  site/cypress/e2e/Cypress-Gradeable/rainbow_grading.spec.js
  site/cypress/fixtures/manual_customization.json
Labels: Testing / Continuous Integration (CI), Rainbow Grades

#9906 [Refactor:Forum] Refactor forum websockets
  site/app/controllers/forum/ForumController.php
  site/app/views/forum/ForumThreadView.php
  site/phpstan-baseline.neon
  site/public/js/forum.js
Labels: URGENT / PRIORITY, security

#10763 [Feature:RainbowGrades] Add Gradeable Percents to GUI
  site/app/models/RainbowCustomization.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades, Instructor UI

#10859 [Feature:RainbowGrades] Add performance warnings to display
  site/app/controllers/admin/ReportController.php
  site/app/models/RainbowCustomization.php
  site/app/models/RainbowCustomizationJSON.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades, Instructor UI

#10867 [UI/UX:RainbowGrades] Remove buttons from grade reports
  site/app/templates/admin/Report.twig
  site/app/views/admin/ReportView.php
  site/ts/grade-report.js
Labels: Rainbow Grades, Instructor UI

#10863 [Feature:RainbowGrades] Add display_rank to display
  site/app/models/RainbowCustomizationJSON.php
Labels: Rainbow Grades, Instructor UI
