Repository Submitty/Submitty, pull requests merged in 2025-03, with the labels that each got.

#11228 [Bugfix:Submission] Bulk upload encode query params
  site/app/controllers/student/SubmissionController.php
Labels: good first review

#11464 [Feature:RainbowGrades] Add time to grades generation timestamp
  site/app/controllers/admin/ReportController.php
Labels: Rainbow Grades, Student UI

#8077 [Feature:System] Parallelize worker updates
  sbin/shipper_utils/update_and_install_workers.py
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
Labels: Server / Installation / Vagrant

#11342 [Refactor:Submission] Backend Grade Inquiry WebSocket Updates
  site/app/controllers/student/GradeInquiryController.php
  site/public/js/grade-inquiry.js
Labels: Abandoned PR - Needs New Owner

#11414 [Bugfix:InstructorUI] Build Log Overflow
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
Labels: Rainbow Grades, Instructor UI

#11541 [UI/UX:InstructorUI] Dark Mode for Customizing Categories
  site/app/templates/forum/ShowCategories.twig
  site/public/css/forum.css
  site/public/js/forum.js
Labels: Discussion Forum, Instructor UI, good first review

#11492 [Feature:RainbowGrades] Add warning for sections with same name
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades

#11038 [Feature:TAGrading] Live status indicators
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20241011142039_add_active_graders.py
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/GradingAction.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/GradedGradeable.php
  site/cypress/e2e/Cypress-TAGrading/rubric_grading.spec.js
  site/public/css/electronic.css
  site/public/js/gradeable.js
  site/public/js/ta-grading-rubric.js
  site/public/templates/grading/Component.twig
  site/public/templates/grading/GradingGradeable.twig
Labels: Database / SQL Toolbox, Instructor UI

#11494 [Testing:System] Linter Test for !important
  site/.stylelintrc.json
  site/public/css/admin-gradeable.css
  site/public/css/admin-team-form.css
  site/public/css/authentication.css
  site/public/css/calendar.css
  site/public/css/code-mirror-utils.css
  site/public/css/configuration.css
  site/public/css/course-materials.css
  site/public/css/details.css
  site/public/css/diff-viewer.css
  site/public/css/directory.css
  site/public/css/docker_interface.css
  site/public/css/electronic.css
  site/public/css/exceptionforms.css
  site/public/css/forum.css
  site/public/css/global.css
  site/public/css/gradeable-notebook.css
  site/public/css/latedaystableplugin.css
  site/public/css/links.css
  site/public/css/markdown.css
  site/public/css/navigation.css
  site/public/css/notebook-builder.css
  site/public/css/officeHoursQueue.css
  site/public/css/pdf/pdf_embedded.css
  site/public/css/plagiarism.css
  site/public/css/polls.css
  site/public/css/rainbow-customization.css
  site/public/css/server.css
  site/public/css/sidebar.css
  site/public/css/simple-grading.css
  site/public/css/submitbox.css
  site/public/css/system-update.css
  site/public/css/ta-grading.css
  site/public/css/table.css
  site/public/css/user-profile.css
Labels: Testing / Continuous Integration (CI), refactor / coding style

#11458 [Feature:System] Allow removing preferred name
  site/app/controllers/UserProfileController.php
  site/app/models/User.php
  site/app/views/UserProfileView.php
  site/phpstan-baseline.neon
  site/public/js/user-profile.js
Labels: Student UI
