Repository Submitty/Submitty, pull requests merged in 2025-04, with the labels that each got.

#11568 [Bugfix:RainbowGrades] Set placeholders by expected items
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades

#11584 [Dependency] Upgrade Clang source to version 15.0.7
  .setup/install_system.sh
  grading/Sample_CMakeLists.txt
Labels: URGENT / PRIORITY

#11469 [Bugfix:InstructorUI] Fix Gradeable Config Width Overflow
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
Labels: bug, Rainbow Grades, good first review

#11585 [Bugfix:System] Run ansible install on PR
  .github/workflows/ci.yml
  .setup/ansible/roles/submitty_install/tasks/main.yml
Labels: URGENT / PRIORITY

#10879 [Testing:RainbowGrades] Add RainbowGrades test to Github CI
  .setup/data/courses/testing.yml
  site/.performance_warning_ignore.json
  site/app/templates/admin/RainbowCustomization.twig
  site/cypress/e2e/Cypress-Gradeable/rainbow_grading.spec.js
  site/cypress/fixtures/manual_customization.json
  site/cypress/fixtures/rainbowgrades_ci_numeric.csv
  site/public/js/rainbow-customization.js
Labels: Testing / Continuous Integration (CI), Rainbow Grades

#11569 [Feature:RainbowGrades] Set points to readonly
  site/app/models/RainbowCustomization.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Labels: Rainbow Grades

#11261 [Bugfix:Submission] Limit Leaderboard access
  site/app/controllers/student/LeaderboardController.php
  site/app/templates/error/InvalidGradeable.twig
  site/app/views/LeaderboardView.php
  site/cypress/e2e/Cypress-Gradeable/leaderboard_gradeable.spec.js
Labels: URGENT / PRIORITY

#11031 [Bugfix:Autograding] Add Time Zone offset to submit timestamp
  autograder/autograder/insert_database_version_data.py
Labels: Abandoned PR - Needs New Owner
